# ─── SAP HANA ODBC ─────────────────────────────────────────────────────────────
DB_DRIVER={B1CRHPROXY}
DB_SERVERNODE=host:port
DB_DATABASE=DB_NAME
DB_DATABASE_NAME=NDB

# ─── Credenciales ──────────────────────────────────────────────────────────────
DB_USER=
DB_PASSWORD=

# ─── Entorno ───────────────────────────────────────────────────────────────────
APP_ENV=production
APP_DEBUG=false
